.x-limit-width {
    max-width: 60%;
}

.qq-buttonpanel-givenanswer .answer-character {
    border: 2px;
    border-style: solid;
    background-color: #fff;
    font-size: 25px;
    
    height: 70px;
    min-width: 55px;
}

.do-not-wrap {
    white-space: nowrap;
}

.given-answer-block
{
    background-color: #fff;
    text-align: center;
    font-size: 54px;
    caret-color: transparent;
}