.mainLogo {
    padding: 0px;
    padding-bottom: 20px;
}

.gameName {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}